* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    width: 100px;
}

.page-title {
    font-family: 'Fugaz One';
    font-size: 3rem;
    color: white
}

.row {
    padding: 1rem;
    background-color: rgb(49, 49, 49);
}

.nav-bar {
    background-color: gray;
    width: 100%;
    padding: 1rem;
}
.nav-item {
    margin-right: 1rem;
    color: rgb(49, 49, 49);
    font-size: 1.5rem;
    padding: 1rem
}
.nav-item:hover {
    background-color: white;
    border-radius: 20px;
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.book-title-main {
    color: white;
}

.book-info-main a {
    margin-right: 1rem;
    line-height: 2rem;
    color: rgb(49, 49, 49);
    background-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
}   
