* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: red;
}

img {
    max-width: 100%;
}

body {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

ul {
    text-decoration: none;
}