{% extends "base.html" %}




{% block title %} 
    <title>Free Online Coding Books</title>
{% endblock %}

{% block content %}

    <h1>Free Online Coding Books</h1>

    <nav class='nav-bar'>
        <ul class='subject_links'>
            {% for subject in subjects %}
             <li><a href="{% url 'subject' subject.pk %}">{{ book.subject.genre }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    {% for book in books %}
        <div id ="{{book.pk}}" class='container book-index'>
            <img class='img-thumbnail rounded' src="{{ book.image.url }}" alt="{{ book.title }}"/>
            <a style="font-weight: bold;" href="{% url 'book-detail' book.pk %}">{{ book.title }}</a>
            <a href = {{book.external_link}}>{{book.external_link}}</a>
        </div>

    {% endfor %}

 {% endblock %}