{% extends "base.html" %}

{% block title%} 
    <title>Free Online Coding Books</title>
{% endblock %}

 {% block content %}

    <h1>Free Online Coding Books</h1>

    <nav class='nav'>
        <ul class='subject_links'>{% for subject in subjects %}
             <li><a href="{% url 'subject' subject.pk %}">{{ subject.genre }}</a></li>
        </ul>
    {% endfor %}
    </nav>

  
    {% for book in books %}
        <div id ="{{book.pk}}">
        <h2> <a style="font-weight: bold;" href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></h2>
        <p>{{book.author}}</p>
        <h4> <a style="font-weight: bold;" href="{% url 'author' book.author.pk %}">{{ book.author }}</a></h4>
        <h4> <a style="font-weight: bold;" href="{% url 'subject' book.subject.pk %}">{{ book.subject }}</a></h4>
        <p><a href = {{book.external_link}}>{{book.external_link}}</a></p>
        <p>{{book.published_date}}</p>
        <p>{{book.subject}}</p>
        <p>{{book.write_up}}</p>


        </div>


    {% endfor %}

 
    {% endblock %}