<!DOCTYPE html>

<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    {% block title %}
    <title>Learn to Code - Free Programming Books</title>
    {% endblock %}

    
    <link rel=”stylesheet” href="{% static 'styles.css' %}">
</head>

<div class="nav-left">
  <a class="active" href="{% url 'homepage' %}">Home</a>
  <a href="{% url 'register' %}">Register New User</a>
</div>

<body>
    {% if messages %}
        {% for message in messages %}
        <div class='alert alert-{{ message.tags }}'>{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% block content %} {% endblock %}
</body>

</html>